services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pioapi-app
    tty: true
    stdin_open: true
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - pio-network

  redis: 
    image: redis
    container_name: pioapi-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - pio-network

networks:
  pio-network:

volumes:
  redis_data:
